<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Military Funeral</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/military.jpg">
          </div>
          <div>
            <p style="text-align: justify;">Going on the last journey is a complex ritual that requires observance of a
              lot of rules and subtleties. One of the types of burials are military or military burials. They are a
              specific ritual, full of an atmosphere of mourning for the deceased and a special celebration. Holding
              such a ceremony is accompanied by a number of military honors.
              <br>
              <br>
              How are military burials different from ordinary burials?
              <br>
              <br>
              As mentioned above, the key difference is military honors - displays of respect on the part of individual
              servicemen. All honors that take place at military funerals can be divided into several categories:
              <br>
              <br>
              Honors associated with the expression of grief. This group includes the traditional lowering of the state
              flag and the declining of military attributes;
              Associated with an expression of respect for the deceased. We are talking about the appointment of honor
              guards and escorts, mandatory wearing of ceremonial uniforms by participants of the ritual (for civilians
              present at the funeral, this rule does not apply, they come in restrained black clothes), fireworks from
              small arms and artillery, which is accompanied lowering of the coffin, as well as a solemn march of guards
              and escorts and the allocation of a special place for burial;
              Honors that emphasize the high social status of the deceased and his inseparable connection with the
              state. This group includes the obligatory abundant use of military and state symbols in the ritual, in
              particular, attaching cold steel and award ribbons to the lid of the coffin, covering it with a flag, as
              well as using a tractor equipped with a cannon carriage instead of the usual hearse.
              Who can be buried according to a special ritual?
              It is traditionally believed that military honors at burial are characteristic only of the burial rituals
              of high-ranking servicemen. In fact, this is a mistake, and the list of people who can go on their last
              journey in this way is much wider.
              <br>
              <br>
              Indeed, it includes Heroes of Ukraine, veterans of hostilities, wars and military service, servicemen who
              died while serving and defending the Motherland. Also, persons who have given most of their lives to
              military service have the right to be buried according to a military rite. These include those who have
              served more than two decades, as well as those who have been dismissed after reaching the age limit or due
              to health problems.
              <br>
              <br>
              Finally, another group of people accompanied on their last journey with military honors are the deceased,
              who are not connected with military service, but over the years of life have earned a special status
              before the Motherland. These are the highest state ranks and citizens with special merits before the
              country.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>