  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="navbar" id="navbarSupportedContent" style="display: flex; flex-direction: row; width: 95%;">
        <div class="mr-5 " style="justify-content: flex-start;">
        </div>
        <div>
          <button type="button" [routerLink]="['/account']"  class="btn btn-outline-light ml-5 my-2">Profile</button>
            <button type="button" [routerLink]="['/account/register']"  class="btn btn-outline-light ml-5 my-2">Register</button>
            <button type="button" [routerLink]="['/account/login']"  class="btn btn-outline-light ml-5 my-2">Login</button>
        </div>
      </div>
    </div>
  </nav>