<div>
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Funeral organization</p>
      </div>
    </div>
  </div>
  <div class="ritual-block clearfix advantages back">
    <div class="ritual-blockcontent">
      <div class="custom advantages mx-5">
        <div class="funeral">
          <div class="first_block">
            <p class="funeral_1 wow fadeInRight animated"
              style="animation-delay: 0.6s; visibility: visible; animation-name: fadeInRight;">
              <a [routerLink]="['/service/funeral/civil']" routerLinkActive="router-link-active" >Civil funeral</a>
            </p>
            <p class="funeral_2 wow fadeInRight animated"
              style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInRight;">
              <a [routerLink]="['/service/funeral/military']">Military funeral</a>
            </p>
            <p class="funeral_3 wow fadeInRight animated"
              style="animation-delay: 1s; visibility: visible; animation-name: fadeInRight;">
              <a [routerLink]="['/service/funeral/elite']">Elite funeral</a>
            </p>
          </div>
          <div class="second_block">
            <p class="funeral_4 wow fadeInRight animated"
              style="animation-delay: 1.2s; visibility: visible; animation-name: fadeInRight;">
              <a [routerLink]="['/service/funeral/orthodox']">Orthodox funeral</a>
            </p>
            <p class="funeral_5 wow fadeInRight animated"
              style="animation-delay: 1.4s; visibility: visible; animation-name: fadeInRight;">
              <a [routerLink]="['/service/funeral/muslim']">Muslim funeral</a>
            </p>
            <p class="funeral_6 wow fadeInRight animated"
              style="animation-delay: 1.6s; visibility: visible; animation-name: fadeInRight;">
              <a [routerLink]="['/service/funeral/jewish']">Jewish funeral</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>