@@ -0,0 +1,580 @@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
  type="text/css" />
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="body">
  <!-- (click)="LogOut()" -->

  <ul style="background-color: #2E2E2E; color: rgb(202, 147, 44);" id="slide-out" class="side-nav fixed z-depth-4">
    <li>
      <div class="userView">
        <a><span class="white-text name">Welcome back,</span></a>
        <a><span class="white-text email">admin@gmail.com!</span></a>
        <a class="dropdown-item navs-comp" style="color: rgb(202, 147, 44);" (click)="LogOut()" [routerLink]="['/account']">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>Log Out
      </a>
      </div>
    </li>


    <li (click)="Dashboard()" class="waves-light" style="color: rgb(202, 147, 44);"><a class="active">Dashboard</a></li>
    <li>
      <div class="divider"></div>
    </li>

    <li style="background-color: #2E2E2E; color: rgb(202, 147, 44);"><a class="subheader">Management</a></li>
    <li (click)="Add()"><a><i class="material-icons pink-item">pets</i>Add</a></li>
    <li (click)="Delete()"><a><i class="material-icons pink-item">monetization_on</i>Delete</a></li>
    <li (click)="Update()"><a><i class="material-icons pink-item">contact_mail</i>Update</a></li>
    <li (click)="Requests()"><a><i class="material-icons pink-item">add_shopping_cart</i>Requests</a></li>
  </ul>
  <main style="background-color: #2E2E2E; color: rgb(202, 147, 44);">
    <section *ngIf="part=='dashboard'" class="content " >
      <div style="background-color: #2E2E2E; color: rgb(202, 147, 44);"
        class="page-announce valign-wrapper waves-light"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <h1 style="color: rgb(202, 147, 44);" class="page-announce-text valign">// Dashboard </h1>
      </div>
      <div class="row fields">
        <div class="col l3 s6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <!-- <h3>{{Cbreed}}</h3> -->
              <p>Add</p>
            </div>
            <div class="moreinfo" (click)="Add()">
              <a class="small-box-footer " class="animsition-link" style="color: rgba(255, 255, 255, 0.8);">More info <i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col l3 s6">
          <div class="small-box bg-green">
            <div class="inner">
              <!-- <h3>{{Csale}}</h3> -->
              <p>Delete</p>
            </div>
            <div class="moreinfo" (click)="Delete()">
              <a class="small-box-footer " class="animsition-link" style="color: rgba(255, 255, 255, 0.8);">More info <i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col l3 s6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <!-- <h3>{{Cuser}}</h3> -->
              <p>Update</p>
            </div>
            <div class="moreinfo" (click)="Update()">
              <a class="small-box-footer " class="animsition-link" style="color: rgba(255, 255, 255, 0.8);">More info <i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col l3 s6">
          <div class="small-box bg-red">
            <div class="inner">
              <!-- <h3>{{Crequest}}</h3> -->
              <p>Requests</p>
            </div>
            <div class="moreinfo" (click)="Requests()">
              <a class="small-box-footer " class="animsition-link" style="color: rgba(255, 255, 255, 0.8);">More info <i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="container fields">
          <div class="quick-links center-align">
            <h3>Quick Links</h3>
            <div class="row">
              <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Mod Handbook"><a
                  class="waves-effect waves-light btn-large" (click)="Add()"><span class="href">All Add</span></a></div>
              <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Staff Applications">
                <a class="waves-effect waves-light btn-large" (click)="Delete()"><span class="href">List of dogs for
                    sale</span></a>
              </div>
              <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Name Guidelines"><a
                  class="waves-effect waves-light btn-large" (click)="Update()"><span class="href">Registered
                    Update</span></a></div>
              <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Issue Tracker"><a
                  class="waves-effect waves-light btn-large" (click)="Requests()"><span class="href">Requests for
                    sale</span></a></div>
            </div>
          </div>

          <h3 class="center-align">Current Staff Members</h3>
          <div class="custom-responsive">
            <table class="striped hover centered">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Access Level</th>
                  <th>Last Site Login</th>
                  <th>TFA Active?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>admin@.gmail.com</td>
                  <td>Administrator</td>
                  <td>2021-08-07</td>
                  <td><i class="text-green material-icons">check</i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="part=='Add'" class="content">
      <div class="page-announce valign-wrapper"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <h1 class="page-announce-text valign">// Add </h1>
      </div>
      <div id="posttable" class="container my-scroll">
        <table class="responsive-table striped hover centered" id="names-table">
          <thead>
            <tr>
              <th>Breed:</th>
              <th>Country:</th>
              <th>Breed type:</th>
              <th>Height:</th>
              <th>Weight:</th>
              <th><button class="btn bg-green" (click)="Add()">Add breed</button></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let breed of Add;">
              <td><a>{{breed.breed}}</a></td>
              <td><a>{{breed.country}}</a></td>
              <td><a>{{breed.dogType}}</a></td>
              <td><a>{{breed.height}}</a></td>
              <td><a>{{breed.weight}}</a></td>
              <td class="centr">
                <div class="btn-toolbar">
                  <a (click)="Edit(breed.id)">
                    <button class="btn bg-aqua" type="submit">
                      <i class="material-icons">edit</i>
                    </button>
                  </a>
                  <a (click)="deleteBreed(breed.breed)">
                    <button class="btn bg-red" type="submit">
                      <i class="material-icons">delete</i>
                    </button>
                  </a>
                </div>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </section>
    <section *ngIf="part == 'edit'" class="content">
      <div class="page-announce valign-wrapper"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <!-- <h1 class="page-announce-text valign">// Add / {{mainBreed.breed}} / Edit</h1> -->
      </div>
      <div class="container my-scroll">
        <!-- <tr>
          <td><label>Breed:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.breed"
              value="{{mainBreed.breed}}" /></td>
          <td class="f10"><label>Country:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.country"
              value="{{mainBreed.country}}" /></td>
          <td class="f10"><label>Life expectancy:</label><input type="text" name="usrname"
              [(ngModel)]="mainBreed.lifeExpectancy" value="{{mainBreed.lifeExpectancy}}" /></td>

        </tr>
        <tr>
          <td><label>Height:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.height"
              value="{{mainBreed.height}}" /></td>
          <td class="f10"><label>Widht:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.weight"
              value="{{mainBreed.weight}}" /></td>
          <td class="f10"><label>Price:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.price"
              value="{{mainBreed.price}}" /></td>
        </tr> -->

        <!-- <div class="left">
          <label>Breed type:</label>
          <tr>
            <div class="select" tabindex="1" id="type">
              <input (click)="ChangeType($event)" value="Watchdog" class="selectopt" name="test" type="radio" id="opt1" checked>
              <label for="opt1" class="option">Watchdog</label>
              <input (click)="ChangeType($event)" value="Hunter" class="selectopt" name="test" type="radio" id="opt2">
              <label for="opt2" class="option">Hunter</label>
              <input (click)="ChangeType($event)" value="Smart" class="selectopt" name="test" type="radio" id="opt3">
              <label for="opt3" class="option">Smart</label>
              <input (click)="ChangeType($event)" value="Kind" class="selectopt" name="test" type="radio" id="opt4">
              <label for="opt4" class="option">Kind</label>
              <input (click)="ChangeType($event)" value="Expensive" class="selectopt" name="test" type="radio" id="opt5">
              <label for="opt5" class="option">Expensive</label>
            </div>
        </tr>
      </div> -->

        <!-- <tr>
        <td class="f9"><label style="margin:0;">Aggressiveness:</label><input type="number" max="5" min="1"
            name="usrname" [(ngModel)]="mainBreed.aggressiveness" value="{{mainBreed.aggressiveness}}" /></td>
        <td class="f9"><label style="margin:0;">Activity:</label><input type="number" max="5" min="1" name="usrname"
            [(ngModel)]="mainBreed.activity" value="{{mainBreed.activity}}" /></td>
        <td class="f9"><label style="margin:0;">Health:</label><input type="number" max="5" min="1" name="usrname"
            [(ngModel)]="mainBreed.health" value="{{mainBreed.health}}" /></td>
      </tr>
      <tr>
        <td class="f9"><label style="margin:0;">Intelligence:</label><input type="number" max="5" min="1" name="usrname"
            [(ngModel)]="mainBreed.intelligence" value="{{mainBreed.intelligence}}" /></td>
        <td class="f9"><label style="margin:0;">Training:</label><input type="number" max="5" min="1" name="usrname"
            [(ngModel)]="mainBreed.training" value="{{mainBreed.training}}" /></td>
        <td class="f9"><label style="margin:0;">Maintenance cost:</label><input type="number" max="5" min="1"
            name="usrname" [(ngModel)]="mainBreed.maintenanceCost" value="{{mainBreed.maintenanceCost}}" /></td>
      </tr>
      <tr>
        <td class="f9"><label style="margin:0;">Molting:</label><input type="number" max="5" min="1" name="usrname"
            [(ngModel)]="mainBreed.molting" value="{{mainBreed.molting}}" /></td>
        <td class="f9"><label style="margin:0;">Security qualities:</label><input type="number" max="5" min="1"
            name="usrname" [(ngModel)]="mainBreed.securityQualities" value="{{mainBreed.securityQualities}}" /></td>
        <td class="f9"><label style="margin:0;">Noise:</label><input type="number" max="5" min="1" name="usrname"
            [(ngModel)]="mainBreed.noise" value="{{mainBreed.noise}}" /></td>
      </tr> -->

        <div class="desc">
          <label>Short description: </label>
          <!-- <input class="inp" type="text" name="usrname" [(ngModel)]="mainBreed.mainDescription"
          value="{{mainBreed.mainDescription}}" /> -->

          <label style="margin-top: 20px;">Main description: </label>
          <!-- <input class="inp" type="text" name="usrname" [(ngModel)]="mainBreed.bigDescription"
          value="{{mainBreed.bigDescription}}" /> -->

          <label>Chose main photo: </label>
          <input class="photoLAdd" type="file" name="psw" id="psw" required>

          <label>Chose big photo: </label>
          <input class="photoLAdd" type="file" name="psw" id="psw" required>

          <!-- <input class="photoLAdd" type="file" (change)="uploadPhoto($event.target.files)" name="psw" id="psw" required> -->

          <!-- <span class="mainButton" (click)="EditBreed()">Edit breed</span> -->
        </div>
      </div>
    </section>
    <section *ngIf="part == 'add'" class="content">
      <div class="page-announce valign-wrapper"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <h1 class="page-announce-text valign">// Add / Add </h1>
      </div>
      <div class="container my-scroll">
        <!-- <tr>
      <td><label>Breed:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.breed"
          value="{{mainBreed.breed}}" /></td>
      <td class="f10"><label>Country:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.country"
          value="{{mainBreed.country}}" /></td>
      <td class="f10"><label>Life expectancy:</label><input type="text" name="usrname"
          [(ngModel)]="mainBreed.lifeExpectancy" value="{{mainBreed.lifeExpectancy}}" /></td>

    </tr>
    <tr>
      <td><label>Height:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.height"
          value="{{mainBreed.height}}" /></td>
      <td class="f10"><label>Widht:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.weight"
          value="{{mainBreed.weight}}" /></td>
      <td class="f10"><label>Price:</label><input type="text" name="usrname" [(ngModel)]="mainBreed.price"
          value="{{mainBreed.price}}" /></td>
    </tr> -->

        <div class="left">
          <label>Breed type:</label>
          <tr>
            <!-- <div class="select" tabindex="1" id="type">
          <input (click)="ChangeType($event)" value="Watchdog" class="selectopt" name="test" type="radio" id="opt1" checked>
          <label for="opt1" class="option">Watchdog</label>
          <input (click)="ChangeType($event)" value="Hunter" class="selectopt" name="test" type="radio" id="opt2">
          <label for="opt2" class="option">Hunter</label>
          <input (click)="ChangeType($event)" value="Smart" class="selectopt" name="test" type="radio" id="opt3">
          <label for="opt3" class="option">Smart</label>
          <input (click)="ChangeType($event)" value="Kind" class="selectopt" name="test" type="radio" id="opt4">
          <label for="opt4" class="option">Kind</label>
          <input (click)="ChangeType($event)" value="Expensive" class="selectopt" name="test" type="radio" id="opt5">
          <label for="opt5" class="option">Expensive</label>
        </div> -->
          </tr>
        </div>
        <!-- 
  <tr>
    <td class="f9"><label style="margin:0;">Aggressiveness:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.aggressiveness" value="{{mainBreed.aggressiveness}}" /></td>
    <td class="f9"><label style="margin:0;">Activity:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.activity" value="{{mainBreed.activity}}" /></td>
    <td class="f9"><label style="margin:0;">Health:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.health" value="{{mainBreed.health}}" /></td>
  </tr>
  <tr>
    <td class="f9"><label style="margin:0;">Intelligence:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.intelligence" value="{{mainBreed.intelligence}}" /></td>
    <td class="f9"><label style="margin:0;">Training:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.training" value="{{mainBreed.training}}" /></td>
    <td class="f9"><label style="margin:0;">Maintenance cost:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.maintenanceCost" value="{{mainBreed.maintenanceCost}}" /></td>
  </tr> -->
        <!-- <tr>
    <td class="f9"><label style="margin:0;">Molting:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.molting" value="{{mainBreed.molting}}" /></td>
    <td class="f9"><label style="margin:0;">Security qualities:</label><input type="number" max="5" min="1"
        name="usrname" [(ngModel)]="mainBreed.securityQualities" value="{{mainBreed.securityQualities}}" /></td>
    <td class="f9"><label style="margin:0;">Noise:</label><input type="number" max="5" min="1" name="usrname"
        [(ngModel)]="mainBreed.noise" value="{{mainBreed.noise}}" /></td>
  </tr> -->

        <div class="desc">
          <label>Short description: </label>
          <!-- <input class="inp" type="text" name="usrname" [(ngModel)]="mainBreed.mainDescription"
      value="{{mainBreed.mainDescription}}" /> -->

          <label style="margin-top: 20px;">Main description: </label>
          <!-- <input class="inp" type="text" name="usrname" [(ngModel)]="mainBreed.bigDescription"
      value="{{mainBreed.bigDescription}}" /> -->

          <label>Chose main photo: </label>
          <input class="photoLAdd" type="file" name="psw" id="psw" required>

          <label>Chose big photo: </label>
          <input class="photoLAdd" type="file" name="psw" id="psw" required>


          <!-- <input class="photoLAdd" type="file" (change)="uploadPhoto($event.target.files)" name="psw" id="psw" required> -->


          <!-- <span class="mainButton" (click)="AddBreed()">Add breed</span> -->
        </div>
      </div>
    </section>

    <section *ngIf="part == 'Delete'" class="content">
      <div class="page-announce valign-wrapper"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <h1 class="page-announce-text valign">// Dogs for sale </h1>
      </div>
      <div id="posttable" class="container my-scroll" style="width: 90%;">
        <table class="responsive-table striped hover centered" id="names-table">
          <thead>
            <tr>
              <th>Breed:</th>
              <th>Breed type:</th>
              <th>Age:</th>
              <th>Info:</th>
              <th>Price:</th>
              <!-- <th><button class="btn bg-green" (click)="AddSaleDog()">Add dog for sale</button></th> -->
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let sale of Delete;">
          <td><a>{{sale.breed}}</a></td>
          <td><a>{{sale.dogType}}</a></td>
          <td><a>{{sale.age}}</a></td>
          <td class="infoBig"><a>{{sale.info}}</a></td>
          <td class="price"><a>{{sale.price}}</a></td>
          <td class="centr">
            <div class="btn-toolbar">
              <a (click)="EditSaleDog(sale.id)">
                <button class="btn bg-aqua" type="submit">
                  <i class="material-icons">edit</i>
                </button>
              </a>
              <a (click)="DeleteSaleDog(sale.id)">
                <button class="btn bg-red" type="submit">
                  <i class="material-icons">delete</i>
                </button>
              </a>
            </div>
          </td>
        </tr> -->
          </tbody>
        </table>
      </div>
    </section>
    <section *ngIf="part == 'editsaledog'" class="content">
      <div class="page-announce valign-wrapper"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <h1 class="page-announce-text valign">// Dog for sale / Edit</h1>
      </div>
      <div class="container">
        <!-- <tr>
      <td><label>Breed:</label><input type="text" name="usrname" [(ngModel)]="EditAddSaleDog.breed"
          value="{{EditAddSaleDog.breed}}" /></td>
      <td class="f10"><label>Age:</label><input type="text" name="usrname" [(ngModel)]="EditAddSaleDog.age"
          value="{{EditAddSaleDog.age}}" /></td>
      <td class="f10"><label>Price:</label><input type="number" name="usrname" [(ngModel)]="EditAddSaleDog.price"
          value="{{EditAddSaleDog.price}}" /></td>
    </tr> -->
        <div class="left">
          <label>Breed type:</label>
          <tr>
            <!-- <div class="select" tabindex="1" id="type">
          <input (click)="ChangeSaleType($event)" value="Watchdog" class="selectopt" name="test" type="radio" id="opt1" checked>
          <label for="opt1" class="option">Watchdog</label>
          <input (click)="ChangeSaleType($event)" value="Hunter" class="selectopt" name="test" type="radio" id="opt2">
          <label for="opt2" class="option">Hunter</label>
          <input (click)="ChangeSaleType($event)" value="Smart" class="selectopt" name="test" type="radio" id="opt3">
          <label for="opt3" class="option">Smart</label>
          <input (click)="ChangeSaleType($event)" value="Kind" class="selectopt" name="test" type="radio" id="opt4">
          <label for="opt4" class="option">Kind</label>
          <input (click)="ChangeSaleType($event)" value="Expensive" class="selectopt" name="test" type="radio" id="opt5">
          <label for="opt5" class="option">Expensive</label>
        </div> -->
          </tr>
        </div>
        <div class="desc" style="padding-top: 125px;">
          <label>Info: </label>
          <!-- <input class="inp" type="text" name="usrname" [(ngModel)]="EditAddSaleDog.info"
      value="{{EditAddSaleDog.info}}" /> -->

          <label>Chose main photo: </label>
          <input class="photoLAdd" type="file" name="psw" id="psw" required>
          <!-- <input class="photoLAdd" type="file" (change)="uploadPhoto($event.target.files)" name="psw" id="psw" required>  -->
          <!-- <span class="mainButton margA" (click)="EditDFS()">Edit dog for sale</span> -->
        </div>
      </div>
    </section>
    <section *ngIf="part == 'addsaledog'" class="content">
      <div class="page-announce valign-wrapper"><a data-activates="slide-out"
          class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
        <h1 class="page-announce-text valign">// Dog for sale / Add</h1>
      </div>
      <div class="container">
        <!-- <tr>
      <td><label>Breed:</label><input type="text" name="usrname" [(ngModel)]="EditAddSaleDog.breed"
          value="{{EditAddSaleDog.breed}}" /></td>
      <td class="f10"><label>Age:</label><input type="text" name="usrname" [(ngModel)]="EditAddSaleDog.age"
          value="{{EditAddSaleDog.age}}" /></td>
      <td class="f10"><label>Price:</label><input type="text" name="usrname" [(ngModel)]="EditAddSaleDog.price"
          value="{{EditAddSaleDog.price}}" /></td>
    </tr> -->
        <div class="left">
          <label>Breed type:</label>
          <tr>
            <div class="select" tabindex="1" id="type">
          <tr> <input class="selectopt" name="test" type="radio" id="opt1" checked style="padding: 0;">
            <label for="opt1" class="option">Watchdog</label>
          </tr>
          <td class="separator"></td>
          <tr><input class="selectopt" name="test" type="radio" id="opt2">
            <label for="opt2" class="option">Hunter</label>
          </tr>
          <td class="separator"></td>
          <tr><input class="selectopt" name="test" type="radio" id="opt3">
            <label for="opt3" class="option">Smart</label>
          </tr>
          <td class="separator"></td>
          <tr><input class="selectopt" name="test" type="radio" id="opt4">
            <label for="opt4" class="option">Kind</label>
          </tr>
          <td class="separator"></td>
          <tr><input class="selectopt" name="test" type="radio" id="opt5">
            <label for="opt5" class="option">Expensive</label>
          </tr>
        </div>
        </tr>
      </div>
      <div class="desc" style="padding-top: 180px;">
        <label>Info: </label>
        <!-- <input class="inp" type="text" name="usrname" [(ngModel)]="mainBreed.mainDescription"
      value="{{mainBreed.mainDescription}}" /> -->

        <label>Chose main photo: </label>
        <!-- <input class="photoLAdd" type="file" (change)="uploadPhoto($event.target)" name="psw" id="psw" required> -->
        <!-- <span class="mainButton margA" (click)="AddDFS()">Add dog for sale</span> -->
      </div>
</div>
</section>

<section *ngIf="part == 'Update'" class="content">
  <div class="page-announce valign-wrapper"><a data-activates="slide-out"
      class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
    <h1 class="page-announce-text valign">// Registered Update </h1>
  </div>
  <div id="posttable" class="container">
    <table class="responsive-table striped hover centered" id="names-table">
      <thead>
        <tr>
          <th>Name:</th>
          <th>Email:</th>
          <th>Phone number:</th>
          <th>City:</th>
          <th>Coins:</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let user of Update;">
          <td><a>{{user.name}}</a></td>
          <td><a>{{user.email}}</a></td>
          <td><a>{{user.phoneNumber}}</a></td>
          <td><a>{{user.city}}</a></td>
          <td><a>{{user.coins}}</a></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</section>

<section *ngIf="part == 'requests'" class="content">
  <div class="page-announce valign-wrapper"><a data-activates="slide-out"
      class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
    <h1 class="page-announce-text valign">// Registered Update </h1>
  </div>
  <div id="posttable" class="container">
    <table class="responsive-table striped hover centered" id="names-table">
      <thead>
        <tr>
          <th>Breed:</th>
          <th>Breed type:</th>
          <th>Age:</th>
          <th>Price:</th>
          <th>Info:</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let request of requests;">
          <td><a>{{request.breed}}</a></td>
          <td><a>{{request.breedType}}</a></td>
          <td><a>{{request.age}}</a></td>
          <td><a>{{request.price}}</a></td>
          <td><a>{{request.info}}</a></td>
          <td>
            <div class="btn-toolbar">
              <a>
                <button class="btn green" type="submit" (click)="RequestTrue(request.id)">
                  <i class="material-icons">done</i>
                </button>
              </a>
              <a>
                <button class="btn red" type="submit" (click)="RequestFalse(request.id)">
                  <i class="material-icons">remove</i>
                </button>
              </a>
            </div>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
  // Hide sideNav
  $('.button-collapse').sideNav({
    menuWidth: 300, // Default is 300
    edge: 'left', // Choose the horizontal origin
    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    draggable: true // Choose whether you can drag to open on touch screens
  });
  $(document).ready(function () {
    $('.tooltipped').tooltip({ delay: 50 });
  });
  $('select').material_select();
  $('.collapsible').collapsible();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>