<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Elite Funeral</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/vip.jpg">
          </div>
          <div>
            <p style="text-align: justify;">
              IP funerals are special funerals for the deceased, who had a high social status during his lifetime. What
              does it mean? People who by the will of their efforts, origins and achievements have become the elite of
              society. Relatives and friends of the deceased seek to find a ritual agency, whose staff organizes
              funerals at the highest level. Most often, not only close people come to the funeral of VIPs, but also the
              press and colleagues, who also have a high social status.
              <br>
              <br>
              VIP-funeral - an elite service
              <br>
              <br>
              The main difference between VIP and ordinary funerals is the presence of a clear plan of events and
              control over every minute of the mourning event. Everything from the choice of funeral paraphernalia to
              the organization of a funeral dinner is organized at the highest level.
              <br>
              <br>
              The main advantage of such a funeral - there is no need for constant presence of the customer. High-class
              ritual agencies, organizing VIP-funerals, take all the worries and worries. Relatives who have suffered a
              loss can avoid the exhausting process of choosing the necessary for the funeral, they do not worry that
              something will go wrong. Also, the employee of the funeral agency will take care of the paperwork, if
              necessary - will provide a meeting of the body of the deceased at the airport or special vehicles.
              <br>
              <br>
            </p>
              <h2>There are several types of VIP funerals:</h2>
              <ul>
                <li>When a funeral is arranged for a famous deceased - a film actor, journalist, writer, cultural figure or
              politician. In this case, the organization focuses on the presence of a large number of people - the
              press, fans, relatives and friends. At such funerals it is necessary to organize and ensure an appropriate
              level of order and protection.</li>
                <li>For people who do not want publicity and the presence of outsiders, the staff of the funeral agency can
              organize a chamber funeral. Usually such a VIP service is ordered for the funeral of rich people, such as
              successful businessmen. In this case, the staff of the funeral agency will also take on all the worries
              associated with the organization. The information received during their work will remain confidential and
              the funeral will be held at the highest level.</li>
              </ul>
              <p>
              <h2>The work of a ritual agent during the preparation and organization of a VIP funeral</h2>
              <h2>The duties of a ritual VIP-agent include the following:</h2>
              <ul>
                <li>Supervision of the work of all those involved in the organization of the funeral;</li>
                <li>If necessary - writing a script, choosing a farewell room;</li>
                <li>Organization of farewell within the walls of the institution - the place of work of the deceased (design
              of the farewell hall);</li>
                <li>Provision of elite transport and accompanying vehicles;</li>
                <li>Organization of a funeral dinner, burial, according to the religious beliefs of the deceased.</li>
                <li>What VIP items and accessories are needed for a funeral of this level?</li>
              </ul>
              <p>
              When organizing an elite funeral, ritual goods and accessories of the highest price category are
              traditionally used. Everything from the coffin to the mourning wreaths and ribbons must correspond to the
              high social status of the deceased and show respect for his merits.
              <br>
              <br>
              VIP-transport and support crews
              <br>
              <br>
              Employees of the funeral agency will help to choose a ritual VIP-transport - hearse and cars for
              accompanying persons, relatives and loved ones of the deceased.
              <br>
              <br>
              During the VIP-funeral, the employees of the funeral agency are obliged to ensure the presence of
              accompanying vehicles. This is, first of all, the traffic police, which will provide unimpeded and quick
              access to the cemetery, as well as ambulances in case any of the relatives, friends, friends of the
              deceased become ill.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>