<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Preparation Deceased</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/partner3.png">
          </div>
          <div>
            <ul>
              <li>Delivery of the deceased to the morgue</li>
              <li>Body washing</li>
              <li>Tamponing</li>
              <li>Embalming the deceased;</li>
              <li>Dressing the deceased</li>
              <li>Makeup</li>
              <li>Sanitary treatment of the premises</li>
              <li>Disposal of household items</li>
            </ul>
            <p style="text-align: justify;">
              First of all, we deliver the body of the deceased to the morgue, where we perform all necessary
              procedures.
              <br>
              <br>
              Our employees wash their bodies directly in the morgue in preparation for the funeral. We use special
              disinfectant aromatic and antibacterial substances. Due to this, we hide the decomposition processes while
              the farewell processes are taking place. Equally important is the issue of tamponade - a procedure for
              installing special tampons impregnated with drugs to prevent unwanted discharge during the funeral.
              Embalming will allow you to maintain a normal skin color and prevent the formation of specific odors if
              mourning events are delayed. In general, it is enough to treat the body with thanatogel after washing.
              Dressing the deceased is carried out in accordance with the canons and traditions of the religion to which
              the deceased belonged. Clothes are provided by relatives, but if you need a consultation - we are here.
              Make-up is a continuation of a set of procedures to ensure that the face and body of the deceased do not
              show signs of decomposition and he looked natural - as he was remembered by relatives and friends for
              life. Cosmetics are applied to the face and exposed parts of the body - the hands. In addition to the
              above procedures, which are directly related to the preparation of the body for burial, we also perform
              disinfection of the premises of the deceased, as well as dispose of household items. Note that these
              actions are a normal civilized practice and should not be inconvenient for you.
            </p>
            <h3>IMPORTANT MOMENT. In case of need of postponement of burial we provide individual refrigerating chambers
              for a body.</h3>
            <p style="text-decoration: solid;">
              After all the activities, the deceased was prepared for burial. Next is the farewell ceremony. We provide
              such a service. For details, you can use the menu item "Services", where you can see the entire list of
              our services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>