            .contact-page {
                background-color: #222222dc;
                width: 100%;
                height: 100%;
                background-image: url("../../../../assets/Image/00.jpg");
            }
            
            .contact {
                width: 100%;
                background-color: rgba(31, 31, 31, 0.774);
                margin-left: 50ch;
                margin-top: 10ch;
                color: rgb(202, 147, 44);
            }
            
            .flex {
                display: flex;
            }
            
            .btn-h {
                background-color: #212121;
                color: white;
            }
            
            .btn-h:hover {
                background-color: #3F729B;
            }