<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Support Crews</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/crews.gif">
          </div>
          <div>
            <p style="text-align: justify;">The funeral ceremony consists of certain mandatory stages. KP Ritual Service
              in the city of Kropyvnytskyi performs a full mourning procession of the coffin with the body of the
              deceased. We provide a special escort team consisting of six people.
            </p>
            <h2>The escort team provides the following services at funerals:</h2>
            <ul>
              <li>Extradition of the body from the morgue. Loading the coffin with the body of the deceased in a hearse,
              loading wreaths, a cross, flowers, etc. Formation of a mourning procession and ensuring the boarding of
              passengers in buses. Coordination of the route with the customer and the driver of the hearse;</li>
              <li>In the presence of a memorial service, preparation of a mourning hall, installation of a coffin,
              arrangement of wreaths, exhibition of a portrait, a cross, etc. Ensuring order in the passage of relatives
              and friends in the hall, receiving flowers and laying them out on a pedestal. Removal of the coffin with
              the body of the deceased and the load in the hearse transport;</li>
              <li>In the presence of a burial ceremony, display of a coffin in a temple, preparation of church accessories,
              distribution to relatives and friends of church candles. Organization of the passage and placement in the
              temple of the participants of the funeral ceremony. Carrying the coffin with the body of the deceased and
              loading into the hearse;</li>
              <li>Upon arrival at the cemetery or crematorium, accompanying the customer to the administration and advising
              on burial or cremation. Coordination of actions with the service of the ritual service of the cemetery or
              crematorium. Formation of the passage of the mourning procession to the burial place or to the cremation
              hall. At the request of the customer, diarrhea of ​​the coffin with the body of the deceased on his
              shoulders. Accompaniment of the farewell ceremony. Elevation of wreaths, flowers, etc .;</li>
              <li>Boarding relatives and friends in buses;</li>
              <li>Farewell to family and friends. Expression of sympathy.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>