<div class="body">
    <div class="log-form">
        <mdb-card>
    
            <mdb-card-header class="warning-color black-text text-center py-4">
                <h5>
                    <strong class="txt">Profile</strong>
                </h5>
            </mdb-card-header>
    
            <mdb-card-body class=" px-lg-5 pt-0 div-prof">
    
                <div class="text-center" style=" display: flex;">
    
                    <div class="md-form">
                        <img src="{{path}}{{prop.image}}" width="100%" />
                    </div>
    
                    <div class="ml-5">
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input [(ngModel)]="prop.fullName" name="fullName" type="text" id="materialRegisterFormFirstName"
                                        class="form-control" mdbInput disabled="false">
                                    <label for="materialRegisterFormFirstName">Full Name</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input type="number" [(ngModel)]="prop.age" name="age" disabled="false" id="materialRegisterFormLastName"
                                        class="form-control" mdbInput>
                                    <label for="materialRegisterFormLastName">Age</label>
                                </div>
                            </div>
                        </div>
    
                        <div class="md-form mt-0">
                            <input type="email" [(ngModel)]="prop.email" name="email" disabled="false" id="materialRegisterFormEmail" class="form-control"
                                mdbInput>
                            <label for="materialRegisterFormEmail">E-mail</label>
                        </div>
    
                        <div class="md-form">
                            <input type="text" disabled="false" name="phone" [(ngModel)]="prop.phone" id="materialRegisterFormPhone"
                                class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock" mdbInput>
                            <label for="materialRegisterFormPhone">Phone number</label>
                            <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                                Optional - for two-step authentication
                            </small>
                        </div>
    
                        <button (click)="Edit()" mdbBtn color="elegant" [outline]="true" [rounded]="true" 
                            class="my-4 waves-effect z-depth-0 btn btn-outline-light btn-rounded" mdbWavesEffect type="submit">Edit Profile</button>
                    </div>
    
                </div>
    
            </mdb-card-body>
    
        </mdb-card>
    
    
    </div>
</div>