.body {
    height: 95vh;
    color: rgb(202, 147, 44);
    background-image: url("../../../../assets/Image/00.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-size: xx-large;
}

.img-div {
    width: 25%;
}

.margin-x {
    margin-left: 15%;
    margin-right: 15%;
}

.flex {
    display: flex;
}

p {
    font-size: large;
    margin-bottom: 2%;
}

.cards {
    background-color: #2E2E2E;
    margin: 5%;
    width: 30vh;
    text-align: center;
}