<div class="body">
    <div class="my-5 margin-x">
        <div class="flex">
            <div class="flex container" *ngFor="let stuff of stuffs">
                <div class="row row-cols-1 row-cols-md-6 g-4">
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="..." >
                        <div class="card-body">
                          <h5 class="card-title">{{stuff.name}}</h5>
                          <p class="card-text" >
                            {{stuff.description}}
                          </p>
                          <p class="card-text" >
                            {{stuff.price}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>