<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Civil Funeral</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/simple.jpg">
          </div>
          <div>
            <p style="text-align: justify;">
              Civil funerals are funerals without religious rites. Strictly speaking, this
              is one of the types of secular mourning ceremony, the script and conduct of which is entrusted to a highly
              qualified presenter - the master of ceremonies. In addition to the traditional scenario, this event can
              reflect all the wishes of the relatives of the deceased. As a rule, it is a personal farewell to the
              deceased, commemoration of his achievements and life.
            </p>
            <p style="text-align: justify;">
              Farewell to the deceased (the so-called civil memorial service) can be organized in the farewell hall at
              the morgue, directly in the crematorium or in the cemetery. To organize a civil memorial service at the
              place of work of the deceased KP, the Ritual Service provides the services of a master of ceremonies, as
              well as organizes the rental of ritual accessories.</p>
            <hr>
            <p style="text-align: justify;">Civil funerals involve burial in the ground or cremation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>