<div class="body">
    <audio src="../../../../assets/musik/dead-node.mp3" autoplay="autoplay"></audio>
    <div class="ritual-layout-wrapper clearfix">
        <div class="ritual-content-layout">
            <div class="ritual-content-layout-row">
                <div class="ritual-layout-cell ritual-content clearfix">
                    <!-- begin nostyle -->
                    <div class="ritual-nostyle" style="position	: relative;">
                        <!-- begin nostyle content -->

                        <!-- Nextend Smart Slider 3 #1 - BEGIN -->
                        <div style="margin-left: 0px; ">
                            <div class="n2-padding">
                                <div data-minfontsizedesktopportrait="4" data-minfontsizedesktoplandscape="4"
                                    data-minfontsizetabletportrait="4" data-minfontsizetabletlandscape="4"
                                    data-minfontsizemobileportrait="4" data-minfontsizemobilelandscape="4"
                                    style="font-size: 11.0833px; margin: 0px; " data-fontsize="16">
                                    <div style=" padding: 0px; border-width: 0px; ">
                                        <div>
                                            <div>

                                                <div>
                                                    <div style="position: relative;">
                                                        <img title=""
                                                            style="opacity: 1;  width: 100%; margin-left: 0px; margin-top: 0px;"
                                                            src="../../../assets/Image/00.jpg"
                                                            alt="Померла людина. Що робити?">
                                                    </div>
                                                    <div
                                                        style=" margin-left: 0px; margin-top: 0px; position: absolute; top: 20%; left: 20%;">
                                                        <div style="z-index: 1; overflow: visible; text-align: left;  height: auto; font-size: 100%; display: block; transform-origin: 50% 50% 0px; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;"
                                                            data-animations="eyJyZXBlYXRhYmxlIjowLCJzcGVjaWFsWmVyb0luIjowLCJ0cmFuc2Zvcm1PcmlnaW5JbiI6IjUwfCp8NTB8KnwwIiwiaW5QbGF5RXZlbnQiOiIiLCJyZXBlYXRDb3VudCI6MCwicmVwZWF0U3RhcnREZWxheSI6MCwidHJhbnNmb3JtT3JpZ2luTG9vcCI6IjUwfCp8NTB8KnwwIiwibG9vcFBsYXlFdmVudCI6IiIsImxvb3BQYXVzZUV2ZW50IjoiIiwibG9vcFN0b3BFdmVudCI6IiIsInRyYW5zZm9ybU9yaWdpbk91dCI6IjUwfCp8NTB8KnwwIiwib3V0UGxheUV2ZW50IjoiIiwiaW5zdGFudE91dCI6MSwiaW4iOltdLCJsb29wIjpbXSwib3V0IjpbXX0="
                                                            data-eye="" data-lock="" data-name="html"
                                                            data-namesynced="1" data-crop="visible"
                                                            data-inneralign="left" data-adaptivefont="0"
                                                            data-desktopportrait="1" data-desktoplandscape="1"
                                                            data-tabletportrait="1" data-tabletlandscape="1"
                                                            data-mobileportrait="1" data-mobilelandscape="1"
                                                            data-responsiveposition="1" data-responsivesize="1"
                                                            data-desktopportraitleft="-3" data-desktopportraittop="-45"
                                                            data-desktopportraitwidth="1890"
                                                            data-desktopportraitheight="auto"
                                                            data-desktopportraitalign="center"
                                                            data-desktopportraitvalign="middle"
                                                            data-desktopportraitparentalign="center"
                                                            data-desktopportraitparentvalign="middle"
                                                            data-desktopportraitfontsize="100">
                                                            <div>
                                                                <div class="slide_info">
                                                                    <h2 class="wow fadeInUp animated"
                                                                        style="animation-delay: 1s; visibility: visible; animation-name: fadeInUp;">
                                                                        The man died. What shall I do?</h2>
                                                                    <p class="wow fadeInUp animated"
                                                                        style="animation-delay: 3s; visibility: visible; animation-name: fadeInUp;">
                                                                        measures to be taken immediately after death</p>
                                                                    <div class="row_1 wow fadeInUp animated"
                                                                        style="animation-delay: 3.3s; visibility: visible; animation-name: fadeInUp;">
                                                                        <a class="info_serv" href="/night-time">The
                                                                            death occurred at night</a>
                                                                        <a class="info_serv"
                                                                            href="/death-not-home">Death did not come at
                                                                            home (outside the
                                                                            city, in the countryside)</a>
                                                                        <a class="info_serv" href="/in-hospital">In a
                                                                            medical institution</a>
                                                                    </div>
                                                                    <div class="row_2 wow fadeInUp animated"
                                                                        style="animation-delay: 3.6s; visibility: visible; animation-name: fadeInUp;">
                                                                        <a class="info_serv" href="/day-time">The death
                                                                            occurred during the day</a>
                                                                        <a class="info_serv" href="/in-public-place">In
                                                                            a public place (car accident, murder
                                                                            ...)</a>
                                                                        <a class="info_serv" href="/abroad">Abroad</a>
                                                                    </div>
                                                                    <div class="row_3 wow fadeInUp animated"
                                                                        style="animation-delay: 3.9s; visibility: visible; animation-name: fadeInUp;">
                                                                        <a class="info_serv"
                                                                            href="/things-to-morgue">Preparing things
                                                                            for the morgue</a> <a class="info_serv"
                                                                            href="/preparation-of-documents">Preparation
                                                                            of documents</a> <a class="info_serv"
                                                                            href="/online-support">Get online help</a>
                                                                    </div>
                                                                </div>
                                                                <p class="arrows" style="text-align: center;">
                                                                    <a href="#about"><img
                                                                            class="fadeInDown wow infinite animated"
                                                                            style="animation-duration: 2s; visibility: visible; animation-name: fadeInDown;"
                                                                            src="/images/tools/arrow.png" alt=""></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <!-- Nextend Smart Slider 3 #1 - END -->
                        <!-- end nostyle content -->
                    </div>
                    <!-- end nostyle -->
                    <article class="ritual-post ritual-messages" style="display: none;">
                        <div class="ritual-postcontent clearfix">
                            <div id="system-message-container">
                            </div>
                        </div>
                    </article>
                    <div class="blog-featured"></div>
                    <div class="ritual-block clearfix wbg">
                        <div class="ritual-blockcontent">
                            <div class="custom wbg">
                                <div id="about">&nbsp;</div>
                                <h1 class="wow fadeInUp animated"
                                    style="animation-delay: 0.4s; text-align: center; visibility: visible; animation-name: fadeInUp;">
                                    Utility Dead Inside</h1>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 0.4s; text-align: justify; visibility: visible; animation-name: fadeInDown;">
                                    If you have suffered a loss and you are looking for a service that provides <strong>
                                        funeral services
                                    </strong>, contact us - we will take on all the burdens in organizing the funeral,
                                    giving relatives the opportunity to say goodbye and see off the deceased. You will
                                    not be left alone with grief - we will share your grief and your worries.</p>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 0.6s; text-align: justify; visibility: visible; animation-name: fadeInDown;">
                                    <img src="../../../assets/Image/logo.png"
                                        alt="Комунальне підприємство Ритуальна Служба в місті Кропивницький (Кіровоград)"><strong>Utility
                                        company "Dead Inside" </strong> - the only one in Rivne, which issues all the
                                    necessary documents when registering a burial. In the future, you will not have
                                    problems with registration of assistance and obtaining certificates.
                                </p>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 0.8s; text-align: justify; visibility: visible; animation-name: fadeInDown;">
                                    The city ritual service provides a full range of ritual services, provides a wide
                                    selection of ritual paraphernalia, vehicles, round-the-clock departure of the agent,
                                    the organization of the funeral.</p>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 1s; text-align: justify; visibility: visible; animation-name: fadeInDown;">
                                    Our staff <span style="text-decoration: underline;"> will respond to your
                                        phone call </span>, reassure and explain what steps you need to take at the
                                    moment, which documents are required for the burial and will determine the required
                                    level of farewell ritual based on Your requirements.</p>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 1.2s; text-align: justify; visibility: visible; animation-name: fadeInDown;">
                                    With our help, you will not be left alone with your grief, and you will be able to
                                    avoid extra costs.</p>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 1.4s; text-align: justify; visibility: visible; animation-name: fadeInDown;">
                                    By organizing a funeral, our staff guarantees high quality work and, last but not
                                    least, attentive attitude to relatives and friends of the deceased.</p>
                                <p class="wow fadeInDown animated"
                                    style="animation-delay: 1.6s; text-align: center; visibility: visible; animation-name: fadeInDown;">
                                    <strong><em>Our priorities in providing funeral services are responsibility and
                                            reliability!</em></strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ritual-block clearfix advantages back">
                        <div class="ritual-blockcontent">
                            <div class="custom advantages">
                                <h3 class="wow fadeInUp animated"
                                    style="animation-delay: 0.4s; visibility: visible; animation-name: fadeInUp;">We
                                    sympathize, understand, &nbsp; support</h3>
                                <div class="funeral">
                                    <div class="first_block">
                                        <p class="funeral_1 wow fadeInRight animated"
                                            style="animation-delay: 0.6s; visibility: visible; animation-name: fadeInRight;">
                                            <a href="/services/burial/civil-funeral">Civil funeral</a></p>
                                        <p class="funeral_2 wow fadeInRight animated"
                                            style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInRight;">
                                            <a href="/services/burial/military-burial">Military funeral</a></p>
                                        <p class="funeral_3 wow fadeInRight animated"
                                            style="animation-delay: 1s; visibility: visible; animation-name: fadeInRight;">
                                            <a href="/services/burial/elite-funeral">Elite funeral</a></p>
                                    </div>
                                    <div class="second_block">
                                        <p class="funeral_4 wow fadeInRight animated"
                                            style="animation-delay: 1.2s; visibility: visible; animation-name: fadeInRight;">
                                            <a href="/services/burial/orthodox-funeral">Orthodox funeral</a></p>
                                        <p class="funeral_5 wow fadeInRight animated"
                                            style="animation-delay: 1.4s; visibility: visible; animation-name: fadeInRight;">
                                            <a href="/services/burial/muslim-funeral">Muslim funeral</a></p>
                                        <p class="funeral_6 wow fadeInRight animated"
                                            style="animation-delay: 1.6s; visibility: visible; animation-name: fadeInRight;">
                                            <a href="/services/burial/jewish-funerals">Jewish funeral</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>