<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Jewish Funeral</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/iudei.jpg">
          </div>
          <div>
            <h2>The idea of ​​the Jews about death</h2>
            <p style="text-align: justify;">
              In Judaism there is no familiar concept of "hell" or "heaven". The Torah and the Talmud (sacred Jewish
              books) point out that there is no sin for which the soul must suffer forever, the afterlife of the soul
              who committed the crime is rather a process of cleansing from sins, but not punishment. In Judaism there
              is also the concept of resurrection from the dead, it must take place after the coming of the Messiah
              (messiah). In this, the dogmas of Judaism are fundamentally different from Orthodoxy, where the sinful
              soul, going to hell, is tormented for his sins.
              </p>
              <h2>Preparation for death</h2>
              <p>
              Before death, the dying person must recite the Vedui (list all his sins and repent of them). This custom
              brings Judaism closer to Orthodoxy, which requires the last visit of the dying Orthodox priest and
              repentance of sins.
              </p>
              <h2>The moment of death</h2>
              <p>
              Based on the dogmas of Judaism, the deceased should be buried almost on the day of death, in extreme cases
              within two days. Relatives must do everything so that the deceased is not dissected, his body must remain
              intact (this is done in light of the resurrection from the dead with the coming of the messiah). On the
              day of death, relatives do not eat meat, do not drink wine, do not work, do not read daily prayers.
              Funerals are not held on Shabbat (Saturday). The Jewish tradition also provides for mourning, burial of
              the deceased, accompanying him on his last journey.
              </p>
              <h2>Washing, dressing and placing in the coffin of the body of the deceased</h2>
              <p>
              Jews are buried in the shroud, not in the coffin, but if the coffin is used, it is always closed. Any
              coffin is used. The body is washed and dressed in white clothes. In the Jewish tradition, special prayers
              are also recited and the deceased is buried.
              </p>
              <h2>Burial</h2>
              <p>
              Funeral participants and close relatives tear their clothes as a sign of great sorrow (Kria rite). The
              coffin is carried out by special religious ministers of Hevra Kaddish, relatives go out with them until
              they all pass, it is forbidden to enter the mourning hall. At the cemetery, the son of the deceased reads
              a prayer intended for this occasion - Kaddish, if there is no son, then Kaddish is recited by a respected
              member of the community. Everyone throws a handful of earth into the grave, this tradition unites Judaism
              with Orthodox funerals.
              </p>
              <h2>Funeral</h2>
              <p>
              Funerals for Jews are held in the same way as for Orthodox. Relatives who bring food with them gather
              (round rolls and eggs are obligatory).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>