<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
        <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid " alt="zoom">
        <div class="mask flex-center waves-effect waves-light">
            <p class="white-text" style="font-family:cursive; font-size: 50px;">After funeral service</p>
        </div>
    </div>
</div>
<div class=" my-5 margin-x">
  <div>
    <div>
      <h2>Organization of anniversaries</h2>
      <div class="flex">
        <div>
          <img class="min-img" src="../../../../assets/Image/Services/dateNew.png" />
          <p style="text-align: justify;">Commemorations committed relatives in memorial days for the dead as a sign
            that his soul is alive and
            immortal. Commemoration of these days is an expression of our love for the deceased, which does not stop
            with his death. Just as in life, and in the memorable days we especially pray for the forgiveness of sins
            and eternal salvation.
            <br>
            Church adopted a rule to remember our loved ones on the 9th, 40th day, half a year, a year after the
            memorial days of the year.
            <br>
            In a memorable day relatives come to the place of burial and bring “a memorial breakfast.” Where the priest
            recites lity – a prayer for the dead. After visiting the place of burial in the days of remembrance for the
            deceased commemorate the memorial meal.
            <br>
            Meals are considered by the Church as a direct continuation of the Charter of worship.
            We specialize in preparing and holding memorable days and ready to assist you.</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Psychological help</h2>
      <div class="flex">
        <div>
          <img class="min-img" src="../../../../assets/Image/Services/psychoNew.png" />
          <div>
          <p style="text-align: justify;">
            All of us throughout life is necessary to meet with death. Especially hard
            when a close person dies. 
            <br>
            Experiencing grief can not be considered a sign of weakness, as the mourning – a
            method by which we recover after heavy losses.
            <br>
            Even if we decided not to show weakness and look optimistically to the future, it is still suffering makes
            itself felt. 
            <br>
            All this greatly undermines the internal forces, the energy of life is extinguished.
            Our psychologists can be with you and help you regain strength and grieve.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>