<div class="body">
    <div class="bag1">
        <div class="view overlay zoom">
            <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
                alt="zoom">
            <div class="mask flex-center waves-effect waves-light">
                <p class="white-text" style="font-family:cursive; font-size: 50px;">Ritual Agent</p>
            </div>
        </div>
    </div>
    <div class="my-5 margin-x">
        <div class="flex">
            <div class="flex">
                <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
                    <div class="text-center ">
                        <img class="head-img"
                            style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
                            src="../../../../assets/Image/Services/help_.jpg">
                    </div>
                    <div>
                        <p style="text-align: justify;">When a person dies, relatives find themselves in a difficult
                            situation, assistance in organizing and conducting the funeral will always be provided by a
                            ritual agent from KP Ritual service in Kirovograd | Kropyvnytskyi. Loved ones will never be
                            ready to die, even when the deceased was very ill and had only a few days and minutes left.
                            But still more difficult for relatives, if the death of a loved one came unexpectedly.
                            Ritual agent of KP The Ritual Service in Kropyvnytskyi will professionally approach the
                            solution of problems related to the funeral ceremony. Our staff knows the features of the
                            morgues, cemeteries, crematoria, dining halls and organizations that issue all the necessary
                            documents, so they can resolve all issues related to the organization and conduct of the
                            funeral. You can call a ritual agent by simply calling the number on the page.
                            <br>
                            <br>
                            The employee of the company is a professional in his field and is closely involved in the
                            organization of the funeral. The funeral agent provides assistance in the purchase and
                            selection of all necessary paraphernalia for burial: coffin, wreaths, cross. The specialist
                            of our enterprise is always ready to come to the aid when trouble came to your house. Loved
                            ones can always turn to us when they learn of death, at any time of the day or night.
                        </p>
                        <h2>What services does a ritual agent provide in Kirovograd? Kropyvnytskyi</h2>
                        <ul>
                            <li>Arrival of the employee at the agreed time;</li>
                            <li>Selection of burial place or cemetery;</li>
                            <li>Digging a pit and burying the coffin;</li>
                            <li>Delivery and purchase of things for the deceased;</li>
                            <li>Preparation of the funeral rite;</li>
                            <li>Preparation of a ritual meal and assistance in choosing dishes when compiling a memorial
                            menu;</li>
                            <li>Assistance in organizing or arranging the transportation of the body to the morgue and to
                            the place of burial;</li>
                            <li>Order a dining cafe in a convenient area of ​​the city;</li>
                            <li>Ordering a car rental service to transport people to the burial place and a meal for lunch;</li>
                            <li>Execution of a medical death certificate from a hospital and morgue;</li>
                            <li>Execution of personal orders of the client;</li>
                            <li>Obtaining a stamp of death;</li>
                            <li>Order of the orchestra for the funeral;</li>
                            <li>Complete organization of the funeral preserving the rites and traditions;</li>
                            <li>Organization of cremation or burial without the presence of the customer.</li>
                        </ul>
                            <p>
                            Advantages of the services of ritual agents
                            Calling a ritual agent in Kirovohrad will allow relatives to focus their attention on the
                            more difficult things that need to be done in a difficult moment. At the request of the
                            customer, the agent of funeral services may accompany the CARGO 200 and organize the entire
                            funeral ceremony without accompanying the customer.
                            <br>
                            <br>
                            By entrusting the organization of the funeral to a ritual agent, you can not worry that some
                            small details will not be taken into account at the ceremony, as working masters of their
                            craft, know and understand this area.
                            <br>
                            <br>
                            The specialist will help to make a dignified farewell to the deceased, without disturbing
                            the relatives of the deceased at such a difficult time for them. They will take into account
                            all the requirements of customers and make the farewell ceremony they wish. In order not to
                            postpone the date of the funeral and at the same time call and invite all relatives and
                            acquaintances to the funeral ceremony, it is necessary to contact the Ritual Service in
                            Kropyvnytskyi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>