<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Muslim Funeral</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/muslim.jpg">
          </div>
          <div>
            <h2>Washing, dressing and tabooing (Muslim burial box)</h2>
            <p style="text-align: justify;">
              A rite of ablution is performed, in which at least four people take part, in accordance with the rules
              established by Sharia. Men are washed by men, women - by women. These are specially invited people who
              know the order of washing. During washing, only those who are directly employed remain in the room. Their
              function is clearly distributed. After the rite of washing, the body of the deceased is appropriately
              dressed in funeral clothes ("kefeniek"). The body is placed in a taboo.
            </p>
            <h2>Burial, funeral prayer ("prayer")</h2>
            <p>
              Before making in the cemetery, the burden is placed on a special raise. All men perform a special prayer -
              a funeral prayer ("zhenaza"). They are buried, as before, without a coffin. If buried in a coffin (in
              cities), then, as a rule, the lid of the coffin is not hammered with nails, or it is absent. After the
              grave is filled, the mullah recites a surah from the Qur'an. In order to put the deceased in a niche in
              the grave, three close relatives descend. The deceased is lowered on three towels. Those who were in the
              grave come out of the grave, girded with towels. When burying dead Muslims can not use artificial wreaths,
              flowers and other ritual paraphernalia (bedspreads, pillows, mourning ribbons, etc.). Women are not
              allowed to attend the cemetery..
            </p>
            <h2>Funeral service for the deceased</h2>
            <p>
              Based on the dogmas of Judaism, the deceased should be buried almost on the day of death, in extreme cases
              within two days. Relatives must do everything so that the deceased is not dissected, his body must remain
              intact (this is done in light of the resurrection from the dead with the coming of the messiah). On the
              day of death, relatives do not eat meat, do not drink wine, do not work, do not read daily prayers.
              Funerals are not held on Shabbat (Saturday). The Jewish tradition also provides for mourning, burial of
              the deceased, accompanying him on his last journey.
            </p>
            <h2>Washing, dressing and placing in the coffin of the body of the deceased</h2>
            <p>
              Funeral rites include holding multiple memorial services. They are divided into memorial services held for
              a particular deceased, and general memorial services. The first includes a memorial service on the 3rd day
              after the funeral, on the 7th, 40th day and after 1 year. It should be noted that there are no special
              funeral dishes, ie the same dishes are served during the feast as during any dinner. Music should not be
              played in the house of the deceased for 40 days. Strict observance of funeral rites is the duty of every
              Muslim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>