<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Orthodox Funeral</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/cristian.jpg">
          </div>
          <div>
            <h2>Washing, dressing and placing in the coffin of the deceased</h2>
            <p style="text-align: justify;">
              Relatives wash the body of a dead Christian with water. They begin to do this with the idea that it should
              appear to God in purity and innocence. For washing the body of the deceased is dressed in new or clean
              clothes, which expresses faith in the future renewal of the body after the resurrection. At the same time,
              the choice of clothing is in accordance with the title and ministry of the deceased, as each person will
              have to answer at the future Court not only in the Christian spirit, but also in the duty of service.
              <br>
              <br>
              In the coffin, the deceased is placed facing the sky with his eyes closed and his mouth closed, with his
              arms folded crosswise on his chest (right on top of left). The forehead is decorated with a wreath, and a
              funeral cross is placed in the hand. The icon is placed in the left hand of the deceased.
              <br>
              <br>
            </p>
            <h2>Burial and burial of the deceased according to Orthodox traditions</h2>
            <p>
              Before making in the cemetery, the burden is placed on a special raise. All men perform a special prayer -
              a funeral prayer ("zhenaza"). They are buried, as before, without a coffin. If buried in a coffin (in
              cities), then, as a rule, the lid of the coffin is not hammered with nails, or it is absent. After the
              grave is filled, the mullah recites a surah from the Qur'an. In order to put the deceased in a niche in
              the grave, three close relatives descend. The deceased is lowered on three towels. Those who were in the
              grave come out of the grave, girded with towels. When burying dead Muslims can not use artificial wreaths,
              flowers and other ritual paraphernalia (bedspreads, pillows, mourning ribbons, etc.). Women are not
              allowed to attend the cemetery..
            </p>
            <h2>Funeral service for the deceased</h2>
            <p>
              
              Every Orthodox person must be buried and buried on the third day after death.
              <br>
              <br>
              Burial is a funeral service once performed over the body of the deceased. If it is not possible to bury in
              person, due to the absence of a priest or body (drowned, burned, etc.), it is necessary to bury in
              absentia in the church.
              <br>
              <br>
              Non-Orthodox (people of non-Orthodox faith), suicides, stillborn or infants killed in infectious diseases,
              who died of infectious diseases, are not buried in the Orthodox order.
              <br>
              <br>
              The deceased is escorted to the last path, extinguishing the candles, walking around the coffin with the
              body, making the sign of the cross with a bow, apologizing to the deceased for the insults, kissing the
              wreath on his forehead and the icon.
              <br>
              <br>
              According to church rules, the coffin with the body is carried by close relatives and friends. Everyone
              accompanies the deceased to the last path before burying the grave and throwing a handful of earth into it
              with the prayer "Rest, Lord, the soul of Your servant (name)".
              <br>
              <br>
              A tombstone cross and a monument are erected at the feet of the deceased, facing the west so that the face
              of the deceased is directed to the Holy Cross.
            </p>
            <h2>Funeral service for the deceased</h2>
            <p>
              A memorial service is a kind of Christian alms for those present. Funeral services are held on the 3rd day
              after the death (funeral day), the 9th, 40th day and other days commemorating the deceased (six months and
              a year after the death, the birthday and the day of the Angel of the deceased).
              <br>
              <br>
              The Orthodox Church commemorates all those who died at Trinity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>