<div class="body">
    <div style="background-color:#2E2E2E; width: 100%; ">
        <div class="bag1">
            <div class="view overlay zoom">
                <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid " alt="zoom">
                <div class="mask flex-center waves-effect waves-light">
                    <p class="white-text" style="font-family:cursive; font-size: 50px;">About Ritual Srevice</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 margin-x">
        <div class="flex">
            <div class="flex">
                <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
                    <h1>About us</h1>
                    <p>
                        On this page you can see our team and the services we provide. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
                    </p>

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-12 mb-3">

                            <img src="../../../../assets/Image/about-images/support crews.jpg" class="img-fluid z-depth-1" alt="Responsive image">

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-4 col-md-12 mb-3">

                            <img src="../../../../assets/Image/about-images/fureval-hall.jpg" class="img-fluid z-depth-1" alt="Responsive image">

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-4 col-md-6 mb-3">

                            <img src="../../../../assets/Image/about-images/rituall-agent.jpg" class="img-fluid z-depth-1" alt="Responsive image">

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-4 col-md-6 mb-3">

                            <img src="../../../../assets/Image/about-images/transportation deceased.jpg" class=" img-fluid z-depth-1 " alt="Responsive image ">

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row ">

                        <!-- Grid column -->
                        <div class="col-md-6 mb-3 ">

                            <img src="../../../../assets/Image/about-images/Opening_of_the_mouth_ceremony_(cropped).jpg " class="img-fluid z-depth-1 " alt="Responsive image ">

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-6 mb-3 ">

                            <img src="../../../../assets/Image/about-images/photos-memorial-service-ideas-640w.jpeg" class="img-fluid z-depth-1 " alt="Responsive image ">

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                    <!-- Footer -->
                    <footer class="page-footer font-small  pt-4 " style=" color:orange;">

                        <!-- Footer Links -->
                        <div class="container-fluid text-center text-md-left ">

                            <!-- Grid row -->
                            <div class="row ">

                                <!-- Grid column -->
                                <div class="col-md-6 mt-md-0 mt-3 ">

                                    <!-- Content -->
                                    <h5 class="text-uppercase ">Other information you can see
                                        <mdb-icon fas icon="arrow-down"></mdb-icon>
                                    </h5>
                                    <p>In this links you can see other our production and work.</p>

                                </div>
                                <!-- Grid column -->

                                <hr class="clearfix w-100 d-md-none pb-3 ">

                                <!-- Grid column -->
                                <div class="col-md-3 mb-md-0 mb-3 ">

                                    <!-- Links -->
                                    <h5 class="text-uppercase ">Services</h5>

                                    <ul class="list-unstyled ">
                                        <li>
                                            <a href="#! ">Funeral dinner</a>
                                        </li>
                                        <li>
                                            <a href="#! ">Funeral menu</a>
                                        </li>
                                        <li>
                                            <a href="#! ">Ritual Agent</a>
                                        </li>
                                        <li>
                                            <a href="#! ">Fureval Hall</a>
                                        </li>
                                    </ul>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-3 mb-md-0 mb-3 ">

                                    <!-- Links -->
                                    <h5 class="text-uppercase ">Other pages</h5>

                                    <ul class="list-unstyled " style="color: orange;">
                                        <li>
                                            <a href="#! ">About</a>
                                        </li>
                                        <li>
                                            <a href="#! ">Ritual Stuff</a>
                                        </li>
                                        <li>
                                            <a href="#! ">Memorial</a>
                                        </li>
                                        <li>
                                            <a href="#! ">Urns</a>
                                        </li>
                                    </ul>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </div>
                        <!-- Footer Links -->



                    </footer>
                    <!-- Footer -->

                </div>
            </div>
        </div>
    </div>
</div>