<div style="background-color:#2E2E2E; width: 100%; ">
    <div class="bag1">
        <div class="view overlay zoom">
            <img  src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid " alt="zoom">
            <div class="mask flex-center waves-effect waves-light">
                <p class="white-text" style="font-family:cursive; font-size: 50px;">About Ritual Srevice</p>
            </div>
        </div>
    </div>



    <div class=" d-flex row" style="width: 80%;">

        <div class=" view col-3 " style="margin:3% ; ">
            <img  src="../../../../assets/Image/bg2.jpg " class="img-fluid " alt="placeholder ">
            <div class="mask flex-center waves-effect waves-light rgba-teal-super-light ">
            </div>
        </div>

        <div class="col-4 view " style="margin:3%; color: white; ">
            <p style="color: rgb(202, 147, 44); font-size: 30px; font-family: cursive; ">We Help you with your problem</p>

            <p>
                All of us throughout life is necessary to meet with death. Especially hard when a close person dies. Experiencing grief can not be considered a sign of weakness, as the mourning – a method by which we recover after heavy losses. Even if we decided not
                to show weakness and look optimistically to the future, it is still suffering makes itself felt. All this greatly undermines the internal forces, the energy of life is extinguished. Our psychologists can be with you and help you regain
                strength and grieve.
            </p>

            <p>
                All of us throughout life is necessary to meet with death. Especially hard when a close person dies. Experiencing grief can not be considered a sign of weakness, as the mourning – a method by which we recover after heavy losses. Even if we decided not
                to show weakness and look optimistically to the future, it is still suffering makes itself felt. All this greatly undermines the internal forces, the energy of life is extinguished. Our psychologists can be with you and help you regain
                strength and grieve.
            </p>

            <p>
                All of us throughout life is necessary to meet with death. Especially hard when a close person dies. Experiencing grief can not be considered a sign of weakness, as the mourning – a method by which we recover after heavy losses. Even if we decided not
                to show weakness and look optimistically to the future, it is still suffering makes itself felt. All this greatly undermines the internal forces, the energy of life is extinguished. Our psychologists can be with you and help you regain
                strength and grieve.
            </p>

        </div>
        
        <div class="cards">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                  <!-- Card -->
                  <div class="card" style="background-color:  rgb(202, 147, 44);">
              
                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="../../../../assets/Image/rip-skull-illustration-j9.jpg"
                        alt="Card image cap">
                      
                    </div>
              
                    <!--Card content-->
                    <div class="card-body">
              
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button class="btn-h" mdbBtn type="button"  mdbWavesEffect><mdb-icon fas icon="info"></mdb-icon></button>
                      
                      
              
                    </div>
              
                  </div>
                  <!-- Card -->
                </div>
                <div class="col mb-4">
                  <!-- Card -->
                  <div class="card" style="background-color:  rgb(202, 147, 44);">
              
                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="../../../../assets/Image/1182346.jpg"
                        alt="Card image cap">
                      
                    </div>
              
                    <!--Card content-->
                    <div class="card-body">
              
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button class="btn-h" mdbBtn type="button"  mdbWavesEffect><mdb-icon fas icon="info"></mdb-icon></button>
                      
                    </div>
              
                  </div>
                  <!-- Card -->
                </div>
                <div class="col mb-4">
                  <!-- Card -->
                  <div class="card " style="background-color:  rgb(202, 147, 44);" >
              
                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="../../../../assets/Image/125-1256010_dead-wallpaper-sabino-canyon.jpg">
                       
                      
                    </div>
              
                    <!--Card content-->
                    <div class="card-body">
              
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button class="btn-h" mdbBtn type="button"  mdbWavesEffect><mdb-icon fas icon="info"></mdb-icon></button>
                      
                    </div>
              
                  </div>
                  <!-- Card -->
                </div>
                <div class="col mb-4">
                  <!-- Card -->
                  <div class="card " style="background-color:  rgb(202, 147, 44);">
              
                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top"  src="../../../../assets/Image/unnamed.jpg"
                        alt="Card image cap">
                      
                    </div>
              
                    <!--Card content-->
                    <div class="card-body">
              
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button class="btn-h" mdbBtn type="button"  mdbWavesEffect><mdb-icon fas icon="info"></mdb-icon></button>
                      
              
                    </div>
              
                  </div>
                  <!-- Card -->
                </div>
              </div>
        </div>




    </div>


    
        
</div>