<div class="body">
  <div class="bag1">
    <div class="view overlay zoom">
      <img src="../../../../assets/Image/0341cf2ee5cac2ad817548ac2a6d2a01.jpg" width="100%" class="img-fluid "
        alt="zoom">
      <div class="mask flex-center waves-effect waves-light">
        <p class="white-text" style="font-family:cursive; font-size: 50px;">Memorial Services</p>
      </div>
    </div>
  </div>
  <div class="my-5 margin-x">
    <div class="flex">
      <div class="flex">
        <div class="" style="animation-delay: 0.5s; visibility: visible; animation-name: fadeInDown;">
          <div class="text-center ">
            <img class="head-img" style="animation-delay: 0.8s; visibility: visible; animation-name: fadeInDown;"
              src="../../../../assets/Image/Services/dinner.jpg">
          </div>
          <div>
            <p style="text-align: justify;">
              Funeral dinners are an integral part of funerals. Funeral services are provoked both on the day of the
              event and in the years following the person's death (9th day after death, 40th day, 1 year). At the
              funeral of friends and parents of the deceased, they remember him and express their grief, remember and
              respect for the deceased. It is not important to organize a funeral trapeze, but you need to spend more
              than enough time. It is better to entrust the organization to an experienced ritual agent. A professional
              will find a suitable room, compile and talk to you the menu of false dinners in accordance with all
              customs. KP Ritual Service organizes false dinners in Kropyvnytskyi and the region. We work with all cafes
              that prepare delicious and affordable memorial dinners. The catalog will always find an institution that
              has the answer for the customer's location and is responsible for his budget: from a small dining room to
              a huge banquet hall of a restaurant for a memorial service.
              <br>
              <br>
              When ordering a false visit, you will choose a menu that will correspond to the customs and preferences.
              For example, there may be dishes of national cuisine or the usual lean menu. We carry out memorial
              services in Kropyvnytskyi in accordance with customer requirements.
              <br>
              <br>
              Each ritual meal has its nuances and features. Invited guests to the funeral dinner should behave calmly,
              modestly and in any case not quarrel. Commemorative agencies for traditional needs require that one seat
              at the table be free - a place where the deceased would sit for life. In this place put empty cutlery and
              set a glass of vodka or water, put a slice of bread on top. Thus emphasize the absence of a person for his
              loved ones.
              <br>
              <br>
              The funeral dinner includes ceremonial dishes and memorial trapezes recommended by the Orthodox Church and
              Christian canons. You will always like professional cafes at the meeting and will add all other order
              pages to the menu. All ordered memorial meals are prepared exclusively from worlds and quality products,
              the staff will be offered at a high level, understanding the growing number of customers lost around the
              person. You can not worry about the service and quality of prepared meals. In the case of a small budget
              and for the economy obmo due to the possibility of the customer of individual purchases of certain
              products and beverages.
            </p>
            <h2>Funeral dinner menu:</h2>
            <ul>
              <li>Borsch with meat or cabbage;</li>
              <li>Box;</li>
              <li>Mashed potatoes or buckwheat;</li>
              <li>Goulash;</li>
              <li>Pie with dried apricots or poppy seeds;</li>
              <li>Cabbage and egg pie;</li>
              <li>Bread;</li>
              <li>Compote or compote;</li>
              <li>Pancakes with honey;</li>
              <li>Cutlets;</li>
              <li>Slicing meat and cheese;</li>
              <li>Herring;</li>
              <li>Vinaigrette or spring salad.</li>
            </ul>
            <h2>Memorial trapeze - lean menu:</h2>
            <ul>
              <li>Soups with mushrooms;</li>
              <li>Box;</li>
              <li>Pie with dried apricots or poppy seeds;</li>
              <li>Cabbage and mushroom pie;</li>
              <li>Mashed potatoes or buckwheat</li>
              <li>Fish;</li>
              <li>Pancakes with honey;</li>
              <li>Bread;</li>
              <li>Compote or compote;</li>
              <li>Vinaigrette or spring salad.</li>
            </ul>
            <p style="text-decoration: solid;">
              The most important thing to remember is that a memorial service is a ritual dinner that does not need to
              be turned into long gatherings.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>